* {
    font-family: 'Roboto', sans-serif;
}
.vertical-menu {
    display: flex;
    width: 20%;
    height: 1820px;
    margin: 0%;
    padding: 10px;
    background-image: linear-gradient(#50A780, #fff);
    color: #000000;
    text-decoration: none;
    line-height: 1.6em;
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.nav button {
    margin: 34% 12%;
    padding: 2% 5%;
    background-color: #49A37B;
    border-radius: 4px;
    border-color: #000000;
    border-width: 1.5px;
    font-weight: lighter;
    font-size: x-small;
    text-align: center;
}
.nav button a {
    font-size: 14px;
}
.nav a {
    color:#000000;
    text-decoration: none;
    border-bottom: #fff;
    font-size: 18px;
    font-weight: bold;
}
.vertical-menu h2 {
    width: 83%;
    margin: 5px;
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 1px solid #ED2626;    
}
.vertical-menu li {
    width: 63%;
    margin-bottom: 7%;
    border-bottom: 1px solid #CECACA;    
}
.contact {
    padding-top: 70%;
}
.contact-p {
    padding: 5%;
}
.information {
    padding: 45% 8%;
    font-size: x-small;   
}
.fa {
    padding-top: 10%;
}
@media screen and (max-width: 768px){

    .nav {
        display: none;
    }
    .vertical-menu {
        display: none;
    }
}
@media screen and (max-width: 1024px){

    .nav {
        display: none;
    }
    .vertical-menu {
        display: none;
    }
}