body {
    width: auto;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    width: 60px;
    height: 60px;
}
.login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-top: 4%;
    padding-top: 3%;
}
.principal-titles h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
}
.principal-titles h2 {
    font-size: 32px;
    margin-left: 23px;
}
.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: ;
}
.login-form-container h2{
    font-size: 40px;
    color: #373867;
    font-weight: bold;
    margin: 5% 0%;
}
.login-form-container p {
    font-size: 20px;
    color: #373867;
    font-weight: bold;
    margin: 7px 0px;
}
.login-form-container form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
}
.login-form-container input {
    padding: 2%;
    border-width: 0.5px;
    border-radius: 7px;
    border-color: #000;
}
.form-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2% 12% 5%;
    font-size: 15px;
}
.forgot-pw-button {
    background-color: #fff;
    border: none;
}
.login-green-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-green-button button{
    width: 20%;
    padding: 8px;
    font-size: large;
    font-weight: bold;
    background-color: #aace9b;
    color: #373867;
    border: none;
    border-radius: 5px;
}
.footer {
    margin: 20%;
}
.login-form-container .login-error-message {
    visibility: hidden;
    color: red;
    font-size: 15px;
}