* {
    margin: auto;
    padding: auto;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    width: fit-content;
}
.logo-trackgenix {
    width: 60px;
    height: 60px;
}
.main {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.main-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    padding: 0% 4%;
}
.logo-and-title {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    align-items: center;
    font-size: xx-large;
    margin-top: 4%;
}
.imagen-texto-principal {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px;
}
.imagen-texto-principal p {
    padding: 3%;
}
.imagen-texto-principal img {
    width: 60%;
}
.middle-figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}
.figure {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 170px;
    margin:auto; 
    margin-top: 25px;
}
.middle-figure figure img {
    flex-wrap: wrap;
    width: 130px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid gray;
    box-shadow: 0px 3px 12px 0px #000000 ;
}
.figcaption {
    width: 130px;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: lightgray;
    font-weight: bold;
    box-shadow: 0px 3px 12px 0px #000000;
    text-align: center;   
}
.lists {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.lists h2 {
    font-size: large;
    font-weight: bold;
}
.lists li {
    margin: 0;
    font-size: small;
    font-weight: normal;
    line-height: 1.8em;
}
.column {
   display: flex;
   flex-direction: column;
   margin: 2%;
}
.column ul {
    margin-top: 30px;
    margin-bottom: 30px;
}
.column li:before{content: "-"}
.about {
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding: 0px;
    background-color: lightgray;
    border-radius: 15px;
    box-shadow: 0px 3px 12px 0px #000000;
}
#us {
    padding: 6px;
    font-size: large;
    font-weight: bold;
}
.about h3 {
    padding: 10px;
    font-size: medium;
}
.about p {
    display: flex;
    flex-direction: row;
    margin: 0; 
    padding: 10px;
    font-size: small;
    font-weight: normal;
    line-height: 1.4em;
}
.about img {
    display: flex;
    flex-direction: row;
    width: 29%;
    vertical-align: top;
}
.about-top {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-bottom:0% ;
}
.about-top img {
    width: 35%;
    vertical-align: top;
}
.about-bottom {
    display: flex;
    margin-top: 15px;
    padding: 2%;
    padding-top: 0%;
}
.about-bottom img {
    width: 261px;
}
.form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: 10%;
    padding: 20px;
    padding-left: 10%;
    color:#373867 ;
    font-weight: bold;

}
.form-container h2 {
    width: 95%;
    margin-bottom: 4%;
    margin-top: 15%;
    border-bottom: 1px solid black;
    border-style: solid;
    border-color: #7B61FF ;
    font-size: x-large;
    line-height: 40px;
}
.form label {
    display:flex ;
    flex-direction: column;
    padding: 10px;
    line-height: 1.8em ;
}
.form input[type="textarea"] {
    width: 100%;
    padding: 8px ;    
}
form {
    display: flex;
    margin-bottom: 70px;
    line-height: 30px;
}
form input {
    width: 95%;
    margin: 0%;
    padding-bottom:5%;
    border-color: #7B61FF;
    border-width: 0.5px;   
}
form textarea {
    width: 95%;
    margin-top: 5px;
    padding-bottom: 10%;
    height: 100px;
    color:#7B61FF;
    border-color: #7B61FF;
    border-width: 0.5px;
}
form select {
    width: 97%;
    margin: 0%;
    padding-bottom: 2%;
    border-color: #7B61FF;
    border-width: 0.5px;  
}
form .submit{
    width: 75%;
    margin-left: 10%;
    padding: 5px;
    background-color: #aace9b;
    border: none;
    border-radius: 5px;
}
.form-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}
.form-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}
.main-container-tablet {
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 768px){
    .logo-trackgenix {
        width: 94px;
        height: 94px;
    }
    .name h1 {
        font-size: 200%;
        font-weight: bold;
        letter-spacing: 5px;
    }
    .name h2 {
        font-size: 100%;
        font-weight: bold;
        letter-spacing: 3px;
        text-align: center;
    }
    .logo-and-title {
        justify-content: center;
        margin-left: 18%;
    }
    .imagen-texto-principal {
        display: flex;
        flex-wrap: wrap;
        margin-left: 6%;
    }
    .imagen-texto-principal img {
        width: 95%;
    }
    .lists {
        margin-top: 0%;
        flex-direction: column-reverse;
    }
    .lists h2 {
        font-size: xx-large;
        width: max-content;
    }
    .column ul {
        text-align: center;
        font-size: large;
    }
    .column li {
        text-align: center;
        font-size: 22px;
        line-height: 27px;
    }
    .horizontal-bottom-lists {
        margin-top: 170px;
    }
    .form-container {
        display: none;
    }
    .main-right {
        width: 95%;
    }
    .main-container-tablet {
        flex-direction: column;
        align-items: center;
    }
    .middle-figure {
        margin-bottom: 20px;
        width: auto;
    }
    .figure {
        margin-bottom: 30px;
        margin-right: 60px;
    }
}
@media screen and (max-width: 1024px) {
    .main-right {
        margin:auto;
        padding: 0%;
    }
    .form-container {
        display: none;
    }
    .main-container-tablet {
        display: flex;
        margin: 0px 80px;
    }
    .middle-figure {
        width: 565px;
    }
    .middle-figure figure img {
        width: 109px;
        height: 90px;
    }
    .figcaption {
        width: 108px;
    }
    .lists {
        margin-left: 10px;
        margin-right: 0px;
    }
    .logo-and-title {
        justify-content: flex-start;
        font-size: 26px;
    }
    .logo-trackgenix {
        margin-right: 3%;
    }
}
@media screen and (min-width: 1024px) {
    .main-container-tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 110%;
    }
    .lists {
        flex-direction: row-reverse;
    }
    .logo-and-title {
        align-self: flex-start;
        justify-content: flex-start;
        font-size: x-large;
    }
    .imagen-texto-principal img {
        max-width: 500px;
        margin-left: 85px;
    }
    .logo-trackgenix {
        width: 87px;
        height: 65px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .about {
        margin: 10%;
        margin-bottom: 2%;
    }
}